.wrapper {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}
#map-canvas {
	height: 400px;
	width: 100%;
}
#search_term {
	width: 100%;
	padding: 10px 20px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 18px;
}
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 100;
	margin-top: 40px;
}
.message {
	display: none;
}
.message.show {
	display: block;
}
.message .tag_name {
	font-weight: 800;
	font-size: 16px;
}