body {
	background: #f2f2f2;
	font-family: Helvetica, Arial, sans-serif;
}
.wrapper {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}
#map-canvas {
	height: 300px;
	width: 100%;
}
#search_term {
	width: 78%;
	padding: 10px 20px;
	margin-right: 2%;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 18px;
	float: left;
}
button {
	width: 20%;
	height: 43px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 18px;
	color: #999;
	cursor: pointer;
}
button:hover {
	color: #777;
	border-color: #777;
}
h1 {
	font-size: 28px;
	font-weight: 100;
	margin-top: 40px;
}
.message {
	display: none;
	font-size: 18px;
	letter-spacing: 0.3px;
}
.message.show {
	display: block;
}
.message .tag_name {
	font-weight: 800;
}